[Unit]
Description=mediaserver
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/www/moongas/moongas-py-mediaserver
ExecStart=/var/www/moongas/env/bin/python run.py mediaserver-config.yml
Restart=always
RestartSec=30s
Type=simple

[Install]
WantedBy=multi-user.target