[Unit]
Description=mediaserver
After=network.target

[Service]
User=brett
Group=brett
WorkingDirectory=/home/brett/Git/bretttolbert/mediax/mediaserver
ExecStart=/home/brett/Git/bretttolbert/mediax/env/bin/python run.py mediaserver_config.yaml
Restart=always
RestartSec=30s
Type=simple

[Install]
WantedBy=multi-user.target