<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>albums</title>
    {% include 'css.html' %}
</head>
<body>
    {% include 'header.html' %}
    <main>
        <div>
            <table class="w-100">
                <tr><th>All Artists</th></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count') }}">all artists (sorted by count)</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='name') }}">all artists (sorted by name)</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists_cloud') }}">artists word cloud</a></td></tr>
            </table>
            <table class="w-100">
                <tr><th>Artists by Country</th></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', countryCode='US') }}">United States</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', countryCode='GB') }}">United Kingdom</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', countryCode='MX') }}">Mexico</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', countryCode='CA') }}">Canada</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', countryCode='FR') }}">France</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', countryCode='AU') }}">Australia</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', countryCode='DE') }}">Germany</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', countryCode=['AL', 'AD', 'AM', 'AT', 'AZ', 'BY', 'BE', 'BA', 'BG', 'HR', 'CY', 'CZ', 'DK', 'EE', 'FI', 'FR', 'GE', 'DE', 'GR', 'HU', 'IS', 'IE', 'IT', 'KZ', 'XK', 'LV', 'LI', 'LT', 'LU', 'MT', 'MD', 'MC', 'ME', 'NL', 'MK', 'NO', 'PL', 'PT', 'RO', 'RU', 'SM', 'RS', 'SK', 'SI', 'ES', 'SE', 'CH', 'TR', 'UA', 'GB', 'VA', 'AX', 'FO', 'GI', 'GG', 'IM', 'JE', 'SJ']) }}">Europe</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', countryCode=['AO', 'BF', 'BI', 'BJ', 'BW', 'CD', 'CF', 'CG', 'CI', 'CM', 'CV', 'DJ', 'DZ', 'EG', 'ER', 'ET', 'GA', 'GH', 'GM', 'GN', 'GQ', 'GW', 'KE', 'KM', 'LR', 'LS', 'LY', 'MA', 'MG', 'ML', 'MR', 'MU', 'MW', 'MZ', 'NA', 'NE', 'NG', 'RW', 'SC', 'SD', 'SL', 'SN', 'SO', 'SS', 'ST', 'SZ', 'TD', 'TG', 'TN', 'TZ', 'UG', 'ZA', 'ZM', 'ZW']) }}">Africa</a></td></tr>
                <tr><td><a href="{{ url_for('main.artist_country_codes') }}">[View All Countries]</a></td></tr>
                <tr><td><a href="/assets/projects/mapgraph/mapgraph.php?map=world&mode=graph&dataset=mediaserver-artist-country-counts&dataitem=ARTIST.COUNT">[View Interactive Map (World of Music)]</a></td></tr>
            </table>
            <table class="w-100">
                <tr><th>Artists by Region</th></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', regionCode='US-CA') }}">California, United States</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', regionCode='US-NY') }}">New York, United States</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', regionCode='GB-LND') }}">London (metropolitan area), England, United Kingdom</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', regionCode='GB-WMD') }}">West Midlands (region), England, United Kingdom</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', regionCode='US-TX') }}">Texas, United States</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', regionCode='US-GA') }}">Georgia, United States</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', regionCode='US-AL') }}">Alabama, United States</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', regionCode='CA-QC') }}">Québec, Canada</a></td></tr>
                <tr><td><a href="{{ url_for('main.artist_region_codes') }}">[View All Regions]</a></td></tr>
                <tr><td><a href="/assets/projects/mapgraph/mapgraph.php?map=us-states&mode=graph&dataset=mediaserver-artist-us-state-counts&dataitem=ARTIST.COUNT">[View Interactive Map (United States of Music)]</a></td></tr>
            </table>
            <table class="w-100">
                <tr><th>Artists by City</th></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', city='London') }}">London (London, United Kingdom)</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', city='New York City') }}">New York City (New York, United States)</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', city='Los Angeles') }}">Los Angeles (California, United States)</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', city='Chicago') }}">Chicago (Illinois, United States)</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', city='San Francisco') }}">San Francisco (California, United States)</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', city='Paris') }}">Paris (Île-de-France, France)</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', city='Montréal') }}">Montréal (Québec, Canada)</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', city='Atlanta') }}">Atlanta (Georgia, United States)</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', city='Huntsville') }}">Huntsville (Alabama, United States)</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', city='Birmingham', countryCode='US') }}">Birmingham (Alabama, United States)</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', city='Birmingham', countryCode='GB') }}">Birmingham (West Midlands, United Kingdom)</a></td></tr>
                <tr><td><a href="{{ url_for('main.artist_cities') }}">[View All Cities]</a></td></tr>
            </table>
            <table class="w-100">
                <tr><th>Artists by language</th></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', languageCode='en') }}">English</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', languageCode='es') }}">Spanish</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', languageCode='fr') }}">French</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', languageCode='de') }}">German</a></td></tr>
                <tr><td><a href="{{ url_for('main.artist_languages') }}">[View All Languages]</a></td></tr>
            </table>
            <table class="w-100">
                <tr><th>Artists by year range</th></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', minYear=2020, maxYear=2029) }}">artists 2020-2029</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', minYear=2010, maxYear=2019) }}">artists 2010-2019</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', minYear=2000, maxYear=2009) }}">artists 2000-2009</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', minYear=1990, maxYear=1999) }}">artists 1990-1999</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', minYear=1980, maxYear=1989) }}">artists 1980-1989</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', minYear=1970, maxYear=1979) }}">artists 1970-1979</a></td></tr>
                <tr><td><a href="{{ url_for('main.artists', sort='count', minYear=1960, maxYear=1969) }}">artists 1960-1969</a></td></tr>
            </table>
            {% include 'x_by_genre.html' %}
            {% include 'x_by_year_range_and_genre.html' %}
            <table class="w-100">
                <tr><th>Artists by year</th></tr>
                <!-- Show present day down to 1950 -->
                {% for year in range(1950,PRESENT_YEAR+1)[::-1] %}
                    <tr><td><a href="{{ url_for('main.artists', sort='count', year=year) }}">artists {{ year }}</a></td></tr>
                {% endfor %}
            </table>
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>
