{# open links in new tabs if on player, to avoid disrupting playback #}
{% set a_attrs = ' target="_blank" rel="noopener noreferrer"' if request.path == url_for("main.player") else '' %}

{% if request.path not in (url_for("main.albums_index"), url_for("main.albums")) %}
<td><a href="{{ url_for('main.albums_index') }}"{{ a_attrs|safe }}>albums</a></td>
{% endif %}

{% if request.path not in (url_for("main.artists_index"), url_for("main.artists")) %}
<td><a href="{{ url_for('main.artists_index') }}"{{ a_attrs|safe }}>artists</a></td>
{% endif %}

{% if request.path not in (url_for("main.genres_index"), url_for("main.genres")) %}
<td><a href="{{ url_for('main.genres_index') }}"{{ a_attrs|safe }}>genres</a></td>
{% endif %}

{% if request.path not in (url_for("main.player_index"), url_for("main.player")) %}
<td><a href="{{ url_for('main.player_index') }}"{{ a_attrs|safe }}>player</a></td>
{% endif %}

{% if request.path not in (url_for("main.name_that_tune_index")) and PLAYBACK_METHOD_LOCAL_ENABLED %}
<td><a href="{{ url_for('main.name_that_tune_index') }}"{{ a_attrs|safe }}><i>name that tune</i></a></td>
{% endif %}

{% if request.path not in (url_for("main.tracks_index"), url_for("main.tracks")) %}
<td><a href="{{ url_for('main.tracks_index') }}"{{ a_attrs|safe }}>tracks</a></td>
{% endif %}
