<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>player</title>
    {{ JSGlue.include() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% include 'css.html' %}
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    {% if request.args.get('hints') == "1" %}
    <script src="{{ url_for('static', filename='hints.js') }}"></script>
    {% else %}
    <script src="{{ url_for('static', filename='hints_stub.js') }}"></script>
    {% endif %}
    <script>
    const PLAYBACK_METHOD_LOCAL_ENABLED = ("{{ playback_method_local_enabled }}" == "True");
    //the parameters ending in "_csv" are my rather kludgy solution
    //for converting a list of Python objects to a JavaScript string dictionary
    //(I know I can use | tojson but it confuses the hell out of VSCode)
    var searchQueryUrlFormats = {};
    var keys = String("{{ web_search_playback_methods_csv }}").split(",");
    var values = String("{{ web_search_query_url_formats_csv }}").split(",");
    for (var i=0; i<keys.length; ++i) {
        searchQueryUrlFormats[keys[i]] = values[i];
    }

    $(function() {
        // (can't use url_for here because this is an external (e.g. youtube.com) URL)
        var formatSearchQueryURL = function(search_query_url_format, artist, album, title) {
            var ret = search_query_url_format;
            ret = ret.replaceAll("{artist}", encodeURIComponent(artist));
            ret = ret.replaceAll("{album}", encodeURIComponent(album));
            ret = ret.replaceAll("{title}", encodeURIComponent(title));
            return ret;
        }

        if (PLAYBACK_METHOD_LOCAL_ENABLED)
        {
            $("#audioElem")[0].addEventListener('ended', function() {
                //The repeat feature doesn't seem very useful 
                // (who wants to listen to the same song over and over?)
                //So make continuous shuffle the default (and only) behavior.
                /*
                var repeat = $("#repeatChk").prop('checked');
                if (repeat) {
                    setTimeout(function() {
                        $("#audioElem")[0].play();
                    }, 1000);
                }
                */
                loadTrack();
                $("#audioElem")[0].addEventListener('canplaythrough', function() {
                    var audio = $("#audioElem")[0];
                    if (audio.paused) {
                        audio.play();
                    }
                });
            });
            toggle_playback = function(this_elem) {
                var audio = $("#audioElem")[0];
                if (audio.paused) {
                    audio.play();
                    $("#playBtn").html('<i class="bi bi-pause-circle-fill"></i> Pause');
                }else{
                    audio.pause();
                    $("#playBtn").html('<i class="bi bi-play-circle-fill"></i> Play');
                }
            }
            $("#playBtn").click(function(){
                toggle_playback();
            });
            $("#linkTitle").click(function(){
                toggle_playback();
            })
            $("#restartBtn").click(function(){
                var audio = $("#audioElem")[0];
                audio.currentTime = 0;
                if (audio.paused) {
                    audio.play();
                }
            });
        }

        function getRequestParams() {
            const searchParams = new URLSearchParams(location.search);
            var requestParams = {};
            const scalarKeys = ["minYear", "maxYear"]; //all others are list keys
            for (const key of searchParams.keys()) {
                console.log("searchParam key=" + key);
                if (scalarKeys.includes(key)) {
                    const value = searchParams.get(key);
                    console.log("searchParams: (scalar) " + key + " = " + value);
                    requestParams[key] = value;
                } else {
                    const values = searchParams.getAll(key);
                    console.log("searchParams: (list) " + key + " = " + values);
                    requestParams[key] = values;
                }
            }
            return requestParams
        }

        function loadTrack() {
            resetHints();
            console.log("loadTrack location.search=" + location.search);
            const requestParams = getRequestParams();
            console.log("requestParams=" + JSON.stringify(requestParams));
            $.getJSON("api/track", requestParams, function(track) {
                console.log(track);
                $("#coverImg").prop("src", Flask.url_for("main.getfile", {path: track.cover_path}));
                $("#linkAlbum").html(track.album);
                $("#linkAlbum").prop("href", Flask.url_for("main.tracks", {
                    artist: encodeURIComponent(track.artist), 
                    album: encodeURIComponent(track.album)}));
                $("#linkArtist").html(track.artist);
                $("#linkArtist").prop("href", Flask.url_for("main.albums", {
                    artist: encodeURIComponent(track.artist)}));
                $("#linkCity").html(track.city);
                $("#linkCity").prop("href", Flask.url_for("main.artists", {
                    city: track.city, countryCode: track.countryCode}));
                $("#linkLanguage").html(track.languageCode);
                $("#linkLanguage").prop("href", Flask.url_for("main.artists", {
                    languageCode: track.languageCode}));
                $("#linkCountry").html(track.countryCode);
                $("#linkCountry").prop("href", Flask.url_for("main.artists", {
                    countryCode: track.countryCode}));
                $("#linkCover").prop("href", Flask.url_for("main.tracks", {
                    artist: encodeURIComponent(track.artist), 
                    album: encodeURIComponent(track.album)}));
                $("#linkGenre").html(track.genre);
                $("#linkGenre").prop("href", Flask.url_for("main.genre", {
                    genre: encodeURIComponent(track.genre)}));
                $("#linkRegion").html(track.regionCode);
                $("#linkRegion").prop("href", Flask.url_for("main.artists", {
                    regionCode: track.regionCode}));
                $("#linkTitle").html(track.title);
                $("#linkYear").html(track.year);
                $("#linkYear").prop("href", Flask.url_for("main.albums", {
                    year: track.year}));

                if (PLAYBACK_METHOD_LOCAL_ENABLED) {
                    let media_file_path = Flask.url_for("main.getfile", {
                        path: track.path});
                    console.log("media_file_path: " + media_file_path);
                    $("#audioElem").prop("src", media_file_path);
                    document.getElementById("playLocalMediaLink").setAttribute(
                        "href", Flask.url_for("main.player", {
                            artist: encodeURIComponent(track.artist), 
                            album: encodeURIComponent(track.album), 
                            title: encodeURIComponent(track.title)}));
                }
                Object.keys(searchQueryUrlFormats).forEach(key => {
                    var url = formatSearchQueryURL(searchQueryUrlFormats[key], 
                    track.artist, 
                    track.album, 
                    track.title);
                    console.log(`url: ${url}`);
                    var id = `webSearch${key.replaceAll(' ', '')}Link`;
                    console.log(`id: ${id}`);
                    document.getElementById(id).setAttribute(
                        "href", url);
                });
		        loadTrackHints(track);
            })
            .fail(function(error) {
                var errmsg = `Failed to load track(s).\n` + 
                `Error: ${JSON.stringify(error)}\n` + 
                `requestParams: ${JSON.stringify(requestParams)}`;
                alert(errmsg);
                console.error(errmsg);
            });
        }

        $('#nextBtn').click(function() {
            loadTrack();
            if (PLAYBACK_METHOD_LOCAL_ENABLED) {
                $("#audioElem")[0].addEventListener('canplaythrough', function() {
                    var audio = $("#audioElem")[0];
                    if (audio.paused) {
                        audio.play();
                    }
                });
            }
        });
        loadTrack();
        //Can't autoplay initially (breaks DOM promise)
        initHints();
    });
    </script>
</head>
<body>
    {% include 'header_without_years.html' %}
    <main>
        <div id="cover">
            <a id="linkCover" href="#" target="_blank" rel="noopener noreferrer">
                <img src="#" id="coverImg" class="cover-img single-img" width="1000" height="1000" />
            </a>
        </div>
        <div id="playerControls">
            {% if PLAYBACK_METHOD_LOCAL_ENABLED %}
                {% if request.args.get('hints') == "1" %}
                <h1>Random track, can you name it?</h1>
                {% endif %}
                <button id="playBtn" class="btn btn-secondary btn-lg">
                    <i class="bi bi-play-circle-fill"></i> Play
                </button>
                <!--
                <input type="checkbox" id="repeatChk"/>
                <label for="repeatChk">Repeat</label>
                -->
                <button id="restartBtn" class="btn btn-secondary btn-lg">
                    <i class="bi bi-rewind-circle-fill"></i> Restart
                </button>
            {% endif %}

            <button id="nextBtn" class="btn btn-secondary btn-lg">
                <i class="bi bi-fast-forward-circle-fill"></i> Next
            </button>
            <br>
            {% if PLAYBACK_METHOD_LOCAL_ENABLED and request.args.get('hints') == "1" %}
                {% include 'hints.html' %}
            {% endif %}
        </div>
        <div id="trackList">
            <table class="playback-options">
                <tr><th>Title:</th><td><a id="linkTitle" href="#">TITLE</a></td></tr>
                <tr><th>Artist:</th><td><a id="linkArtist" href="#" target="_blank" rel="noopener noreferrer">ARTIST</a></td></tr>
                <tr><th>Album:</th><td><a id="linkAlbum" href="#" target="_blank" rel="noopener noreferrer">ALBUM</a> </td></tr>
                <tr><th>Genre:</th><td><a id="linkGenre" href="#" target="_blank" rel="noopener noreferrer">GENRE</a></td></tr>
                <tr><th>Year:</th><td><a id="linkYear" href="#" target="_blank" rel="noopener noreferrer">YEAR</a> </td></tr>
                <tr><th>Country:</th><td><a id="linkCountry" href="#" target="_blank" rel="noopener noreferrer">COUNTRY</a> </td></tr>
                <tr><th>Region:</th><td><a id="linkRegion" href="#" target="_blank" rel="noopener noreferrer">REGION</a> </td></tr>
                <tr><th>City:</th><td><a id="linkCity" href="#" target="_blank" rel="noopener noreferrer">CITY</a> </td></tr>
                <tr><th>Language:</th><td><a id="linkLanguage" href="#" target="_blank" rel="noopener noreferrer">LANGUAGE</a> </td></tr>
                <tr><th>Playback Options:</th><td></td></tr>
                {% if PLAYBACK_METHOD_LOCAL_ENABLED %}
                <tr><th></th><td><a id="playLocalMediaLink" href="#">▶ Local Media</a></td></tr>
                {% endif %}
                {% for method in WEB_SEARCH_PLAYBACK_METHODS %}
                {# E.g. for web search playback method "Amazon Music" the link id is "webSearchAmazonMusicLink" #}
                <tr><th></th><td><a id="webSearch{{ method.name | replace(' ', '') }}Link" href="#" target="_blank" rel="noopener noreferrer">🔍 {{ method.name }}</a></td></tr>
                {%  endfor %}
            </table>
        </div>

        {% if PLAYBACK_METHOD_LOCAL_ENABLED %}
        <audio id="audioElem" class="full" controls>
            <source src="#" type="audio/mpeg" autoplay>
        Your browser does not support the audio element.
        </audio>
        {% endif %}

    </main>
    {% include 'footer.html' %}
</body>
</html>
