<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tracks</title>
    {% include 'css.html' %}
</head>
<body>
    {% include 'header_without_years.html' %}
    <main>
        <div class="results-info">
        {{ files|result_or_results }} <a class="button-link" href="{{ url_for('main.player', **request.args) }}">shuffle</a>:
        </div>
        {% if request.args.getlist('album')|length > 0 and cover_path|length > 0 %}
        <div>
            <br>
            <img src="{{ url_for('main.getfile', path=cover_path) }}" id="coverImg" class="cover-img single-img" width="1000" height="1000" />
        </div>
        {% endif %}
        {% if request.args.getlist('album')|length > 0 %}
        <div>
            {% if request.args.getlist('albumartist')|length > 0 %}
            <a class="navLink" href="{{ url_for('main.player', albumartist=request.args.get('albumartist'), album=request.args.get('album')) }}">Shuffle Album <i>{{ request.args.get('album') }}</i></a>
            {% elif request.args.getlist('artist')|length > 0 %}
            <a class="navLink" href="{{ url_for('main.player', artist=request.args.get('artist'), album=request.args.get('album')) }}">Shuffle Album <i>{{ request.args.get('album') }}</i></a>
            {% endif %}
            <br>
        </div>
        {% endif %}
        <div id="trackList">
            <table class="w-100">
                <tr><th>Year</th><th>Genre</th><th>Artist</th><th>Album</th><th>Title</th></tr>
                {% for file in files %}
                <tr>
                    <td><a href="{{ url_for('main.albums', year=file.year) }}">{{ file.year }}</a></td>
                    <td><a href="{{ url_for('main.artists', genre=file.genre) }}">{{ file.genre }}</a></td>
                    <td><a href="{{ url_for('main.albums', artist=file.artist) }}">{{ file.artist }}</a></td>
                    <td><a href="{{ url_for('main.tracks', artist=file.artist, album=file.album) }}">{{ file.album }}</a></td>
                    <td><a href="{{ url_for('main.player', title=file.title, artist=file.artist, album=file.album) }}">{{ file.title }}</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>
