<table class="w-100">
    <tr><th>{{ index_type | capitalize }} by genre(s)</th></tr>
    
    <!-- greater than 500 album results genres (todo: add "show more results" button) 
    for the ones tagged EXCESSIVELY_HIGH_COUNT_GENRE. 
    -->

    <!-- EXCESSIVELY_HIGH_COUNT_GENRE (2693) -->
    {% with tr_genres=['Classic Rock'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- EXCESSIVELY_HIGH_COUNT_GENRE (1792) -->
    {% with tr_genres=['Indie Rock'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- EXCESSIVELY_HIGH_COUNT_GENRE (1635) -->
    {% with tr_genres=['Alternative Rock'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- MEDIUM_HIGH_COUNT_GENRE (279) -->
    {% with tr_genres=['Indie Folk'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- MEDIUM_HIGH_COUNT_GENRE (195) -->
    {% with tr_genres=['Alternative Metal'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Hip-Hop Mix -->
    {% with tr_genres=['Hip-Hop', 'Hip-Hop français', 'Hip-Hop/Electronic', 'Hip-Hop/Reggae', 'Trip hop', 'Urbano'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Emo mix -->
    {% with tr_genres=['Post-Hardcore', 'Emo / Pop-Rock'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Rock around the world Mix -->
    {% with tr_genres=['Rock français', 'Rock brasileiro', 'Rock en español', 'Korean Rock', 'Japanese Rock', 'Zamrock'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Funk Rock/Metal Mix -->
    {% with tr_genres=['Funk Metal', 'Funk Rock'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Alternative Metal Mix (Excluding 'Alternative Rock') )-->
    {% with tr_genres=['Alternative Metal', 'Grunge', 'Sludge Metal', 'Stoner Rock'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Alternative Soft Rock Mix (Excluding 'Alternative Rock') )-->
    {% with tr_genres=['Alternative', 'Shoegaze', 'Noise Rock'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Pop Mix -->
    {% with tr_genres=['Classic Pop', 'Britpop', 'Pop', 'Dream Pop', 'Pop Rock'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Soft Rock Mix -->
    {% with tr_genres=['Soft Rock', 'Easy Listening'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Psychedelic Rock Mix -->
    {% with tr_genres=['Psychedelic Rock', 'Blues Rock'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Classig Prog Mix -->
    {% with tr_genres=['Classic Prog'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Heavy Metal Mix -->
    {% with tr_genres=['Heavy Metal', 'Glam Metal'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Electronic Mix -->
    {% with tr_genres=['Electronic', 'Electronica', 'Electronic (Instrumental)', 'Dance/Electronic', 'Deep House', 'Trance', 'Techno', 'Eurodance'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Punk Mix -->
    {% with tr_genres=['Punk', 'Punk Rock', 'Horror Punk', 'Punk français', 'Ska Punk'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- New Wave Mix -->
    {% with tr_genres=['New Wave', 'Synth-pop', 'New Wave français'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Goth Mix -->
    {% with tr_genres=['Post-Punk', 'Goth Rock'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- RnB Mix -->
    {% with tr_genres=['R&B', 'R&B/Soul', 'R&B (Instrumental)', 'R&B/Funk', 'RnB français'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Latin Mix -->
    {% with tr_genres=['Latin', 'Cumbia', 'Merengue', 'Bachata', 'Salsa', 'Norteño', 'Latin Pop', 'Urbano', 'Latin Funk', 'Reggaeton', 'Rock en español', 'Rock brasileiro', 'Afrobeat'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Reggae Mix -->
    {% with tr_genres=['Reggae', 'Reggae Rock', 'Reggaeton', 'Ska Punk'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Metal Mix -->
    {% with tr_genres=['Black Metal', 'Death Metal', 'Doom Metal', 'Glam Metal', 'Heavy Metal', 'Industrial Metal', 'Nu Metal', 'Post-Black Metal', 'Post-Metal', 'Sludge Metal', 'Thrash Metal'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Industrial Mix -->
    {% with tr_genres=['Industrial Metal', 'Industrial', 'Post-Industrial'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}
    
    <!-- Country Mix -->
    {% with tr_genres=['Classic Country', 'Country', 'Country Pop'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Prog Mix -->
    {% with tr_genres=['Progressive Metal', 'Progressive Pop'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Folk Mix -->
    {% with tr_genres=['Folk', 'Folk Pop', 'Folk Punk', 'Folk Rock', 'Folk rock, Jazz', 'Indie Folk', 'Psychedelic Folk'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Classic Funk Mix-->
    {% with tr_genres=['Funk'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Contemporary Funk Mix -->
    {% with tr_genres=['Funk', 'Funk (Instrumental)', 'Jazz/Funk', 'Latin Funk', 'R&B/Funk'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- House Mix -->
    {% with tr_genres=['Deep House', 'French House', 'House'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Jazz Mix -->
    {% with tr_genres=['Dixieland Jazz', 'Jazz', 'Jazz/Pop', 'Jazz Rock', 'Nu Jazz', 'Nu Jazz (Instrumental)', 'Smooth Jazz'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Misc rock mix -->
    {% with tr_genres=['Acid Rock', 'Art Rock', 'Celtic Rock', 'Emo / Pop-Rock', 'Experimental Ambient Rock', 'Glam Rock', 'Goth Rock', 'Indie Rock', 'Japanese Rock', 'Korean Rock', 'Noise Rock', 'Pop Rock', 'Post-Grunge', 'Post-Hardcore', 'Post-Industrial', 'Post-Punk', 'Post-Rock', 'Prog Rock', 'Psychedelic Rock', 'Punk Rock', 'Reggae Rock', 'Rock brasileiro', 'Rock en español', 'Rock italiano', 'Soft Rock', 'Southern Punk Rock', 'Southern Rock', 'Stoner Rock'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Surf mix -->
    {% with tr_genres=['Surf Punk', 'Surf Rock'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- French mix -->
    {% with tr_genres=['Hip-Hop français', 'Nu Metal français', 'Punk français', 'RnB français', 'Rock français'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}

    <!-- Workout mix -->
    {% with tr_genres=['Industrial Metal', 'Punk', 'Punk Rock', 'Heavy Metal', 'Hip-Hop', 'Urbano', 'Thrash Metal', 'Nu Metal', 'Rock en español', 'Funk Metal', 'Hip-Hop français'] %}
    {% include 'x_by_genre_tr.html' %}
    {% endwith %}


</table>
